<!DOCTYPE html>
<html>
    <head>
        <link href="../Content/css/styles.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>Word Counter</title>
    </head>
    <body>
        <form  action="/counter_form" method="post">
            <input type="text" name="enterSentence" placeholder="Sentence">
            <input type="text" name="searchWord" placeholder="Search Word">
            <button type="submit" name="button">Search!</button>
        </form>
    </body>
</html>
