<!DOCTYPE html>
<html>
    <head>
        <link href="../Content/css/styles.css" rel="stylesheet" type="text/css">
        <meta charset="utf-8">
        <title>Scrabble</title>
    </head>
    <body>
        @* <form  action="/move_form" method="post">
            <input type="text" name="playerMove" placeholder="Enter Word">
            <button type="submit" name="button">Go!</button>
        </form>
        <div class="results">
            <p>@Model</p>
        </div> *@
    </body>
</html>
