<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Results</title>
    </head>
    <body>
        <div class="output">
            <p>@Model</p>
        </div>
    </body>
</html>
